body {

	font-family: proxima-nova,'Open Sans',Tahoma,sans-serif;
	font-size: 12pt;

}

h1 {

	font-family: proxima-nova,'Open Sans',Tahoma,sans-serif;
	font-size: 40px;

}

.navbar {

	border-radius: 0px;

}



#resourcePasswordField {

	margin-top: 20px;

}

#navbar-collapser {

	text-align: center;

}

.eventName {

	margin-left: 20px;

}

.panelCol {

	border-right: 1px solid #eee;

}

.eventDescription {

	margin-left: 40px;

}

#mainPanel {

	padding: 10px;
	background: #d9edf7;
	box-shadow: #888 5px 5px 0px;
	margin-bottom: 20px;

}

hr {

	border-top: 1px solid #888;

}

.card {

	padding: 10px;
	padding-top: 0;

}
