body {

  padding-top: 75px;

}

.hoverborder:hover {

  border: 1px solid lightblue;
  cursor: pointer;

}

.vertical-center {

  display: flex;
  align-items: center;

}

.horizontal-center {

  display: block;
  margin-left: auto;
  margin-right: auto;

}
